.sidebar {
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #a9a9a9;
    border-top: 0;
    font-size: max(1vw, 10px);
}

.sidebar-options {
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-option {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #a9a9a9;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0 0 3px;
    cursor: pointer;
}

.sidebar-option.active {
    background-color: #fff0ed;
    border-color: tomato;
}

/* Media Query for screens smaller than 900px (e.g., tablets) */
@media (max-width: 900px) {
    .sidebar {
        width: auto; 
        min-height: auto;
    }

    .sidebar-options {
        padding-top: 20px;
        padding-left: 10px; 
        gap: 15px; 
        flex-direction: row;
        justify-content: center;
    }

    .sidebar-option p {
        display: none; 
    }

    .sidebar-option {
        padding: 6px 8px;
        border-radius: 3px; 
        border-right: 1px solid #a9a9a9;
    }
}

/* Media Query for screens smaller than 768px (e.g., larger mobile devices) */
@media (max-width: 768px) {
    .sidebar {
        min-height: 80px;
        position: fixed; 
        bottom: 0; 
        width: 100%; 
        z-index: 1000;
        background-color: white; 
        border-top: 1.5px solid #a9a9a9;
        border-bottom: 0; 
    }

    .sidebar-options {
        padding: 10px 0;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .sidebar-option {
        gap: 8px; 
        padding: 5px 8px;
        flex-direction: column; 
        border: none; 
    }

    .sidebar-option img {
        width: 24px;
    }
}

/* Media Query for screens smaller than 480px (e.g., smaller mobile devices) */
@media (max-width: 480px) {
    .sidebar-option img {
        width: 20px; 
    }
}